.loginFancy {
    text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
    color: fuchsia;
    font-size: 500%;
}

.fanc1 {
    text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 200%;
}
/* 
font-family: Brush Script MT, Brush Script Std, cursive;
font-family: "Roboto", "Helvetica", "Arial", sans-serif; */